body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

/* header section */
.header {
  background-color: rgba(255, 144, 14, 0.10);
  padding: 20px 170px 20px 230px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu-item {
  color: var(--dark-02, #424242);
  font-size: 18px;
  font-weight: 500;
  transition: .5s;
}

.menu-item:hover {
  background-color: #ece5e5;
  cursor: pointer;
}

nav>ul {
  display: flex;
  gap: 30px;
}

nav li {
  list-style: none;
}

.header-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.header-title {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
}

.header-section-heading {
  color: var(--dark-01, #131313);
  font-size: 64px;
  font-weight: 700;
}

.header-section-p {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
}

.explore-more-btn {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #FF900E;
  border: 0;
  margin-top: 32px;
  margin-bottom: 50px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  transition: .4s;
}

.explore-more-btn:hover {
  cursor: pointer;
  background-color: #ee9c3f;
}

.first-img {
  width: 100%;
}

/* team section */
main {
  max-width: 1440px;
  margin: 0 auto;
}

.team-section {
  margin: 100px 0px;
  display: flex;
  align-items: center;
  gap: 4.9rem;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-content h2 {
  color: var(--dark-01, #131313);
  font-size: 2.8rem;
  font-weight: 700;
}

.team-content .quick-list {
  color: var(--dark-03, #727272);
  font-size: 2.8rem;
  font-weight: 500;
}

.feature-class {
  color: #FF900E;
  font-size: 45px;
  font-weight: 700;
}

.team-content p {
  color: var(--dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
}

/* statistics section */
.statistics-section {
  margin: 100px 0px;
}

.statistics-section-header h2 {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
}

.statistics-section p {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 542px;
  margin-bottom: 100px;
}

.statistics-content {
  display: flex;
  justify-content: space-around;
}

.single-statistics-content {
  height: 240px;
  width: 240px;
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  /* margin-top: 30px; */
}

.single-statistics-content img {
  margin-top: 40px;
}

.statistics-content h3 {
  color: var(--dark-02, #424242);
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -25px;
}

.statistics-content h5 {
  color: var(--dark-03, #727272);
  font-size: 20px;
  font-weight: 600;
}

/* media query */
/* for mobile devices */
@media screen and (max-width: 576px) {
  .header {
    padding: 20px;
  }

  .header-menu {
    flex-direction: column;
  }

  .team-section {
    flex-direction: column-reverse;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-content {
    text-align: center;
  }

  .statistics-content {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .statistics-section-header h2 {
    text-align: center;
  }

  .statistics-section-header p {
    width: auto;
    margin-left: 5px;
  }

}