body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

/* header section */
.header {
  background-color: rgba(255, 144, 14, 0.10);
  padding: 20px 170px 20px 230px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu-item {
  color: var(--dark-02, #424242);
  font-size: 18px;
  font-weight: 500;
  transition: .5s;
}

.menu-item:hover {
  background-color: #c5bdbd;
  cursor: pointer;
}

nav>ul {
  display: flex;
  gap: 30px;
}

nav li {
  list-style: none;
}

.header-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.header-title {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
}

.header-section-heading {
  color: var(--dark-01, #131313);
  font-size: 64px;
  font-weight: 700;
}

.header-section-p {
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
}

.explore-more-btn {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #FF900E;
  border: 0;
  margin-top: 32px;
  margin-bottom: 50px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  transition: .4s;
}

.explore-more-btn:hover {
  cursor: pointer;
  background-color: #ee9c3f;
}

.first-img {
  width: 100%;
}

/* media query */
/* for mobile devices */
@media screen and (max-width: 576px) {
  .header {
    padding: 20px;
  }

  .header-menu {
    flex-direction: column;
  }

}